
.main{
    display: flex;
    justify-content: space-evenly;
}

/* menu */

.nav {
    height: 50px;
    margin-right: 20px;
    z-index: 50;
    display: flex;
    align-items: center;
    position: relative;
}

.menu{
    display: flex;
    align-items: center;
}


.burger_btn {
    margin-left: 3rem;
    width: 5px;
    height: 16px;
    cursor: pointer;
    position: relative;
}

.burger_btn:before {
    content: '';
    background-color: black;
    position: absolute;
    top: 0;
    border-radius: 50%;
    width: 4px;
    height: 4px;
}

.burger_btn span {
    background-color: black;
    position: absolute;
    top: 6px;
    border-radius: 50%;
    width: 4px;
    height: 4px;
}


.burger_btn:after {
    content: '';
    background-color: black;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    width: 4px;
    height: 4px;

}

.delete{
    display: flex;
    width: 1rem;
    background-color: inherit;
    border: none;


}
.modal{
    display: none;
    position: absolute;
}
.modal.active{
    background-color: inherit;
    border: none;
    margin: 0;
    display: block;

}

.btn:hover{
    background-color: #3dc9fc;
}

.ProductsLoading {
    text-align: center;
}
.ProductsError {
    text-align: center;
    color: red;
}


