@import 'https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:400,700';

/*--------------------
General Style
---------------------*/


h2, h3 {
  font-size: 16px;
	letter-spacing: -1px;
  line-height: 40px;
}

h2 {
	color: #747474;
    text-transform: uppercase;
	text-align: center;
}

h3 {
	color: #032942;
	text-align: right;
}


/*--------------------
Login Box
---------------------*/

.box {
  width: 420px;
    height: 400px;
  position: absolute;
    z-index: 100;
  top: 24%;
  left: 40.5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.box_form {
  width: 400px;
  position: relative;
  z-index: 1;
}

.box_login_tab {
	width: 50%;
	height: 35px;
	background: #fdfdfd;
	position: relative;
	float: left;
	z-index: 1;
  
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;

	-webkit-transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
	        transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
	-webkit-transform-origin: 0 0;
	        transform-origin: 0 0;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;

	-webkit-box-shadow: 15px -15px 30px rgba(0,0,0,0.32);
     -moz-box-shadow: 15px -15px 30px rgba(0,0,0,0.32);
          box-shadow: 15px -15px 30px rgba(0,0,0,0.32);
}

.box_login_title {
	width: 35%;
	height: 40px;
	position: absolute;
    display: flex;
    justify-content: space-evenly;
	float: left;
	z-index: 2;
    align-items: center;
}
.box_login_title span {
    transition: font-size 0.1s linear;

    font-size: 18px;
    cursor: pointer;
}
.box_login_title span:hover {
    font-size: 22px;
    color: #07e7fc;
}


.box_login {
  position: relative;
  top: -4px;
  width: 420px;
  background: #fdfdfd;
  text-align: center;
  overflow: hidden;
  z-index: 2;

  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
   border-top-right-radius: 6px;
   border-bottom-left-radius: 6px;
   border-bottom-right-radius: 6px;

  -webkit-box-shadow: 15px 30px 30px rgba(0,0,0,0.32);
     -moz-box-shadow: 15px 30px 30px rgba(0,0,0,0.32);
          box-shadow: 15px 30px 30px rgba(0,0,0,0.32);
}


/*--------------------
Form
---------------------*/


.fieldset_body {
    padding-top: 1.5rem;
    display: table;
}

.fieldset_body p {
    width: 100%;
    display: inline-table;
    padding: 5px 20px;
    margin-bottom:2px;
}

label {
  width: 100%;
	top: 0px;
	color: #032942;
	font-size: 13px;
	font-weight: 700;
	text-align: left;
	line-height: 1.5;
}

label.checkbox {
	float: left;
  padding: 5px 20px;
	line-height: 1.7;
}

.input {
    width: 100%;
    height: 32px;
    padding: 0px 10px;
    background-color: rgba(0,0,0,0.03);
    border: none;
    display: inline;
    color: #303030;
    font-size: 16px;
    font-weight: 400;
    float: left;
    
    -webkit-box-shadow: inset 1px 1px 0px rgba(0,0,0,0.05), 1px 1px 0px rgba(255,255,255,1);
    -moz-box-shadow: inset 1px 1px 0px rgba(0,0,0,0.05), 1px 1px 0px rgba(255,255,255,1);
    box-shadow: inset 1px 1px 0px rgba(0,0,0,0.05), 1px 1px 0px rgba(255,255,255,1);
}

.input:focus {
    background-color: #94effc;
    outline: none;
}




.submit {
    width: 100%;
    height: 48px;
    margin-top: 24px;
    padding: 0px 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    background-color: #37a6ea;
    border: 1px #37a6ea solid;
    border-radius: 0;
    opacity: 1;
    cursor: pointer;
}

.submit:hover,
.submit:active {
    background-color: rgba(55, 166, 234, 0.89);
    border: 1px rgba(55, 166, 234, 0.89) solid;
}

@media screen and (max-width: 768px) {
    .box {
        width: 320px;
    }
    .box_form {
        width: 350px;
    }
    .box_login {
        width: 320px;
    }
    .box_login_title h2{
        font-size: 12px;
    }
}
@media screen and (max-width: 425px) {
    .box {
        width: 280px;
    }
    .box_login {
        width: 280px;
    }
    .box_login_title h2{
        font-size: 12px;
    }
}
