.cart_link{
    text-decoration: none;
}
.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: rgba(169, 168, 168, 0.13);
    color: black;
    padding: 0.75rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 2rem;
    font-weight: bold;

}

.order{
    margin-right: 1rem;
}
.button:hover,
.button:active {
    background-color: rgba(169, 168, 168, 0.09);
}

.icon {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;
}

.badge {
    padding: 0.25rem 0.15rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
}



@media screen and (max-width: 635px) {
    .button {
        margin-left: 2rem;
        padding: 0.1rem 0.2rem;
    }
    .order{
        display: none;
    }
}