* {
  box-sizing: border-box;
}
html{
  margin: 0;

}
body {
  margin: 0;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  background-color: rgba(16, 180, 250, 0.29);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.material-icons{
  color: rgba(2, 2, 2, 0.75);
  font-size: 1.5rem;
}
button {
  font: inherit;
  cursor: pointer;
  background-color: #b5f6f8;
  border: 1px solid #3dc9fc;
  color: black;
  padding: 0.20rem 1rem;
  border-radius: 20px;
  font-weight: bold;
}
.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}
